@font-face {
    font-family: "super_creamy";
    src: url(/resources/Super\ Creamy\ Personal\ Use.ttf);
}
html{
    scroll-behavior: smooth;
}
*{  
    margin: 0;
    padding: 0;
    font-family: "super_creamy";
    text-shadow: #B7131F 2px 3px;
}
body{
    background-color: black;
    color: white;

}
main{
    display: flex;
    align-items: top;
    background: url("/images/background.png") repeat-y;
    height: 1800px;
    width: 1890px;
    margin: 0 auto;
}
#icon{
    padding: 0 500px ;
}
#icon img{
    width: 200px;
}
nav{
    padding: 30px;
    justify-content: space-between;
    width: 1105px;
    display: flex;
    align-items:center;

}
nav ul{
    list-style: none;
}
nav li{

    text-transform: uppercase;
    font-size:20px ;
    padding: 0px 29px;
    float: left;
}
nav li a{
    color: white;
    text-decoration: none;
}
nav li a:hover{
    
    color: #B7131F;
    text-shadow: none;
}
header{

    margin: 0 auto;
    width: 1100px;
}


figure img{
    border-radius:700px;
    width: 500px;
    float: left;
}
article{
    padding-left:20px ;
    font-size: 1.5em;
    width: 500px;
    float: left;
}
article a{
    text-decoration: none;
    color: #EB212F;
    text-shadow: white 3px 2px;
}
article a:hover{
    color: #B7131F;
    text-decoration: underline;
}

article p{
    font-size: 30px;
    text-transform: uppercase;
}
.clear {
    clear: both;
}
h1{
    padding-left:0px ;
    display: flex;
    align-items: center;
}
footer{

    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    clear: both;
    color: #fff;
    width: 750px;
    margin: 0 auto;
    font-size: 1em;
    text-shadow: none;
}